<!DOCTYPE html>
<html>
  <head>
    <title>contact | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the contact page for the My socail media app sample application.
    </p>
  </body>
</html>
